node_modules
frontend/node_modules
docker/
.cache
.git
.gitlab-ci.yml
python-test.yml
requirements.txt
.coverage
htmlcov/
db.sqlite3
.venv/
env_sample.txt
.pytest_cache/
.vscode/
bot_memory.db
commit.txt
kanboard.toml
kanboard.toml.sample
spotipy/
