startup_message.txt
*.ipynb
.ipynb_checkpoints
twitch_bot.db
__pycache__
plugins/*.py
.fleet
.idea
bot_memory.db
kanboard.toml
spotipy/
arduino/output/
frontend/elm-stuff/
alembic.ini
db.sqlite3
react/
elm/
.cache
.vscode/
commit.txt
.coverage
requirements.txt
env.txt
.last_build
.last_apidoc_build

# pyinstaller
build/
dist/
