@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.bg-violet-200 {
  background-color: rgb(125, 117, 159);
}
.bg-violet-901 {
  background-color: rgb(82, 59, 117);
}

@layer components {
  .indigo-button {
    @apply block px-2 py-1 bg-indigo-400 hover:bg-indigo-900 rounded-md text-gray-700 hover:text-gray-900 transition duration-150 ease-in-out w-full text-left;
  }
  .link-style {
    @apply text-blue-600 underline;
  }
}
/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

